{% extends 'base.html.twig' %}

{% block body %}

    {% if resumes|length %}
        {% include 'resume/resumes_choice_table.html.twig' with {
            'resumes': resumes,
            'job_id': job_id,
        } only %}
    {% else %}
        <h4>
            Need to create resume.
        </h4>
    {% endif %}

    <a href="{{ path('resume_create') }}" class="btn btn-default pull-right">Add resume</a>

{% endblock %}