<nav class="navbar navbar-light float-right">
    <form class="form-inline">
        <button id="delete-resume"
                type="submit"
                class="btn btn-outline-danger"
                onclick="return confirm('Are you sure?')">
            <span class="fa fa-trash" aria-hidden="true"></span>
            {{ 'delete'|trans }}
        </button>
        <a class="btn navbar-btn ml-2" href="{{ path('resume_edit', {id:resume.id}) }}">
            <span class="fa fa-pencil" aria-hidden="true"></span>
            {{ 'edit'|trans }}
        </a>
    </form>
</nav>