{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src = "{{ asset('js/resumes.js') }}"></script>
    <script type="text/javascript">
        let resumes = new Resumes({{ app.user.id }});
        resumes.init();
    </script>
{% endblock %}

{% block body %}
    <input type="search" id="resume-search" name="search"
           aria-label="Search through resumes">
    <input type="submit" value="Search" id="search">

    <div class="resume-wrapper">
        <img src="{{ asset('images/ajax-loader.gif') }}" class="loader mx-auto">
        <div id="resumes"></div>
    </div>

    <a href="{{ path('resume_create') }}" class="btn btn-default pull-right">Add resume</a>
{% endblock %}