{% extends 'base.html.twig' %}

{% block javascripts %}

    <script src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src = "{{ asset('js/jobs.js') }}"></script>
    <script type="text/javascript">
        let jobs = new Jobs();
        jobs.init();
    </script>

{% endblock %}
{% block body %}

    {% include 'job/_job_history.html.twig' with {'historyJobs': historyJobs} only %}

    <div id="activejob-list"></div>

{% endblock %}