{% extends 'base.html.twig' %}

{% block body %}
    {% include 'job/_job_history.html.twig' with {'historyJobs': historyJobs} only %}

    {% if categories|length %}

      `  {% for category in categories %}
            <h4>
                <a href="{{ path('category_show', {slug: category.slug}) }}">{{ category.name }}</a>
            </h4>
            {% include 'job/table.html.twig' with {
                'jobs': category.activeJobs|slice(0, max_items_on_page)
            } only %}
        {% endfor %}`
        <a href="{{ path('job_create') }}" class="btn btn-default navbar-btn pull-right">Post a Job</a>
    {% else %}
        <h4>
            Does not active jobs. <a href="{{ path('job_create') }}">Create a job.</a>
        </h4>
    {% endif %}
{% endblock %}