{% extends 'base.html.twig' %}

{% block body %}

    {% if jobApplications|length %}
        {% include 'job_application/table.html.twig' with {
            'jobApplications': jobApplications
        } only %}
    {% else %}
        <h4>
            {{ 'no.active.job.applications'|trans }}.
        </h4>
    {% endif %}

    <div class="navigation text-center">
        {{ knp_pagination_render(jobApplications) }}
    </div>

{% endblock %}