{% extends 'base.html.twig' %}

{% block javascripts %}

    <script src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src = "{{ asset('js/job-application.js') }}"></script>
    <script type="text/javascript">
        let job_application = new JobApplication({{ app.user.id }});
        job_application.init();
    </script>

{% endblock %}

{% block body %}

    <div id="job-applications-list"></div>
    <img src="{{ asset('images/ajax-loader.gif') }}" class="loader mx-auto" alt="">

{% endblock %}