{% extends 'base.html.twig' %}

{% block create_job %}{% endblock %}

{% block body %}

    {% if jobApplications|length %}
        {% include 'job_application/responses_table.html.twig' with {
            'jobApplications': jobApplications
        } only %}
    {% else %}
        <h4>
            No responses.
        </h4>
    {% endif %}

    <div class="navigation text-center">
        {{ knp_pagination_render(jobApplications) }}
    </div>

{% endblock %}