{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type='text/css' href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}
        <div class="form-style">
            <h1>{{ 'active.chats'|trans }}</h1>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {% if chats|length %}
                        {% for chat in chats %}
                            <p>
                                <a href="{{ path('company_chat', {id:app.user.company.id, room: chat.room}) }}">
                                    {{ chat.username }}
                                </a>
                            </p>
                        {% endfor %}
                    {% else %}
                        <p>No active chats</p>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}