{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" type='text/css' href="{{ asset('css/form.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block body %}
    <div class="form-style">
        <h1>Company edit</h1>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default float-right">Edit</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}