{% extends 'base.html.twig' %}

{% block create_job %}{% endblock %}

{% block body %}

    {% if companies|length %}
        {% include 'company/table.html.twig' with {
            'companies': companies
        } only %}
    {% else %}
        <h4>
            Need to create company.
        </h4>
    {% endif %}

    <a href="{{ path('company_create') }}" class="btn btn-default pull-right">Add company</a>

    <div class="navigation text-center">
        {{ knp_pagination_render(companies) }}
    </div>

{% endblock %}