{% if categories|length %}

    {% for category in categories %}
        <h4>
            <a href="{{ path('category_show', {slug: category.slug}) }}">{{ category.name }}</a>
        </h4>
        {% include 'job/table.html.twig' with {
            'jobs': category.activeJobs|slice(0, max_items_on_page)
        } only %}
    {% endfor %}

{% else %}
    <h4>
        No active jobs.
        {% if app.user and app.user.role('ROLE_EMPLOYER') and app.user.company|length %}
            <a href="{{ path('job_create') }}">Create a job.</a>
        {% elseif app.user and app.user.role('ROLE_EMPLOYER') %}
            <a href="{{ path('company_create') }}">Create a company.</a>
        {% endif %}
    </h4>
{% endif %}