{% if jobApplications|length %}
    {% include 'job_application/responses_table.html.twig' with {
        'jobApplications': jobApplications
    } only %}
    <div class="navigation text-center">
        {{ knp_pagination_render(jobApplications) }}
    </div>
{% else %}
    <h4>
        {{ 'no.responses'|trans }}.
    </h4>
{% endif %}
