{% if jobApplications|length %}
    {% include 'job_application/responses_table.html.twig' with {
        'jobApplications': jobApplications
    } only %}
{% else %}
    <h4>
        {{ 'no.responses'|trans }}.
    </h4>
{% endif %}

<div class="navigation text-center">
    {{ knp_pagination_render(jobApplications) }}
</div>